div .accform {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 150px 150px 50px;
    padding: 50px 75px;
    background: white;
    position: relative;
}

div .accform fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

div .accform fieldset .edit{
    padding: 10px 5px;
    background: #a00100;
    color: white;
    text-align: center;
    border-radius: 2px;
    width: 75px;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 50px;
    right: 75px;
    cursor: pointer;
}

div .accform form .edit:hover {
    background: #333;
    border-color: #333;
    color: white;
}

div .accform fieldset .cancel{
    padding: 10px 5px;
    background: #aaa;
    color: #333;
    text-align: center;
    border-radius: 2px;
    width: 75px;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 50px;
    right: 75px;
    cursor: pointer;
}

div .accform form {
    display: flex;
    flex-flow: column nowrap;
    background: white;
}

div .accform form .accheader{
    margin-bottom: 25px;
}

div .accform form .accheader p a{
    color: #a00100;
}

div .accform form .accheader p a:hover{
    color: #333;
}

div .accform form label {
    margin-bottom: 10px;
}

div .accform form input {
    font-family: inherit;
    padding: 5px 4px;
    letter-spacing: normal;
    color: black;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
    border-radius: 2px;
    background: #fafafa;
    box-shadow: none;
    transition: all .2s linear;
    margin-bottom: 35px;
    height: 35px;
    width: 50%;
}

div .accform form input:disabled, textarea:disabled {
    border-color: white;
    background: white;
    padding-left: 0;
}

div .accform form input:focus {
    outline: none;
    background:white;
}

div .accform form button {
    border-radius: 2px;
    padding: 10px 40px;
    margin-top: 10px;
    color: #ffffff;
    border-color: #a00100;
    background-color: #a00100;
    border: none;
    outline: none;
    text-align: center;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

div .accform form button:hover {
    background: #333;
    border-color: #333;
}

.add-link {
    padding: 0 15px;
    height: 40px;
    width: 120px;
    font-size: 14px;
    margin: 10px 0;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #a00100;
    border:none;
    outline: none;
    cursor:pointer;
}

div .accform .link-form div {
    margin: 10px 0;
    padding: 0;
}

div .accform .link-form select{
    height: 35px;
    margin-right: 10px;
}
div .accform .link-form input{
    margin-bottom: 0;
}

div .accform .link-form button{
    font-size: 14px;
    padding: 0 15px;
    height: 40px;
    width: 120px;
}