footer {
    background: #3a3a3a;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    z-index: 99;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    margin: 0;
}