nav {
    position: fixed;
    top: 0;
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 92px;
    margin-bottom: 100px;
    padding: 0 150px;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 9999;
}

nav img {
    max-width: 200px;
    height: 40px;
}


.dropdown {
    font-size: 40px;
    text-decoration: none;
    color: inherit;
}

.dropdown:hover {
    color: #bb1333;
}

.dropdown a {
    color: #bb1333;
}

.dropdown a:hover {
    color: #333;
}