div .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 75px;
    margin-top: 150px;
    margin-bottom: 75px;
    max-width: 100%;
}
.container h1 {
justify-self: start;
margin-bottom: 50px;
}

div .container .projectlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div .container .projectlist a {
    color: inherit;
    text-decoration: none;
}

div .container .projectlist .projectcard {
    background: white;
    border-radius: 5px;
    padding: 25px;
    margin: 25px 0;
    width: 400px;
    height: 250px;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2);
}

div .container .projectlist .projectcard span { 
    margin: 0;
    font-weight: normal;
    font-size: 13px;
}

div .container .projectlist .projectcard h1 { 
    color: #a00100;
    margin: 0 0 5px;
    font-size: 22px;
}

div .container .projectlist .projectcard h6 { 
    margin: 0;
    font-weight: normal;
    font-size: .9rem;
    color: #666;
}

div .container .projectlist .projectcard p { 
    margin: 25px 0 25px;
    white-space: wrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

div .container .projectlist .projectcard .status {
    font-size: .8rem;
    color: black;
}


div .container .projectlist .projectcard .status span { 
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.Pending { 
    color: #333;
}

.Denied { 
    color: crimson;
}

.Approved, .Complete { 
    color: #2D936C;
}

.Working { 
    color: #535fd7;
}