div .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 75px;
    margin: 150px 0;
    max-width: 100%;
    min-height: 350px;
}
.container h1 {
justify-self: start;
margin-bottom: 50px;
}

div .container #search {
    font-size: 18px;
    color: #333;
    padding: 2.5px 5px;
    margin: 0 0 25px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #999;
    transition: all .2s;
    outline: none;
    width: 45%;
}

div .container #search:focus {
    border-bottom: 2px solid #bb1333;
}

div .container .projectlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

div .container .projectlist a {
    color: inherit;
    text-decoration: none;
}

div .container .projectlist .projectcard {
    background: white;
    border-radius: 5px;
    padding: 25px;
    margin: 25px 0;
    width: 400px;
    height: 250px;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2);
}

div .container .projectlist .projectcard:hover {
    box-shadow: 0 0px 2px 2px rgba(30,80,238, 0.9);
    transition: all .3s;
}

div .container .projectlist .projectcard span { 
    margin: 0;
    font-weight: normal;
    font-size: 13px;
}

div .container .projectlist .projectcard h1 { 
    color: #bb1333;
    margin: 0 0 5px;
    font-size: 22px;
    font-weight: bold;
}

div .container .projectlist .projectcard h6 { 
    margin: 0;
    font-weight: normal;
    font-size: .9rem;
    color: #666;
}

div .container .projectlist .projectcard p { 
    margin: 25px 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

div .container .projectlist .projectcard .status {
    font-size: .8rem;
    color: black;
}


div .container .projectlist .projectcard .status span { 
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.Pending { 
    color: #333;
}

.Denied { 
    color: crimson;
}

.Approved, .Complete { 
    color: #2D936C;
}

.Working { 
    color: #535fd7;
}

.Feedback {
    color: #eb4710;
}