div .regform {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 150px 150px 50px;
    padding: 50px 75px;
    background: white;
}

div .regform form {
    display: flex;
    flex-flow: column nowrap;
    background: white;
}

div .regform form .regheader{
    margin-bottom: 25px;
}

div .regform form .regheader p a{
    color: #bb1333;
}

div .regform form .regheader p a:hover{
    color: #333;
}

div .regform form label {
    margin-bottom: 10px;
}

div .regform form input {
    font-family: inherit;
    padding: 5px 4px;
    letter-spacing: normal;
    color: black;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
    border-radius: 2px;
    background: #fafafa;
    box-shadow: none;
    transition: all .2s linear;
    margin-bottom: 25px;
    height: 35px;
    width: 50%;
}

div .regform form input:focus {
    outline: none;
    background:white;
}

div .regform form button {
    border-radius: 2px;
    padding: 10px 40px;
    margin-top: 10px;
    color: #ffffff;
    border-color: #bb1333;
    background-color: #bb1333;
    border: none;
    outline: none;
    text-align: center;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

div .regform form button:hover {
    background: #333;
    border-color: #333;
}

